h1{
    font-size: 20px;
}
body{
    text-align: center;
}

form {
    margin: 0 auto;  /* 上下のマージンは0、左右のマージンは自動 */
    width: 75%;  /* formの幅を指定します。ここではページ全体の50%を指定していますが、必要に応じて適切な値に変更してください */
}

.zipcode-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}
